body {
  font-family: sans-serif;
  background-color: rgb(176,172,172);
}

.contenedor-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 8px;
}

.contenedor-1 input{
    height: 35px;
}

.contenedor-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-texto{
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(48,50,52);
    font-size: 20px;
}

.crear-tarjeta{
    background-color: blue;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
.borrar-tarjetas{
    background-color: red;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: gray;
  }
  
  .tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 8px;
    background-color: #f0f0f0;
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .tarjeta > div {
    margin-bottom: 5px;
  }
  
  .clima {
    font-size: 20px;
  }
  
  .temperatura {
    font-size: 30px;
    font-weight: bold;
  }
  
  .ciudad {
    font-size: 14px;
  }

  .detalle {
    font-size: 14px;
  }
  